.banner {
    background-color: rgb(170, 156, 153);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.banner h1 {
  line-height: .9;

}
.banner h5 {
  margin-top: 1rem;
  font-weight: 500;
  letter-spacing: .2rem;
}

.content-top, .content-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.quad_top_left, .quad_top_right, .quad_bottom_left, .quad_bottom_right {
    padding-top: 1rem;
    padding-bottom: 1rem;
  font-size: 4rem;
}
.quad_top_left {
    background-color: black;
    color: white;
}
.quad_top_right {
    background-color: rgb(130, 209, 255);
    color: white;
}
.special {
    height: 0.01rem;
}
.quad_extra {
    z-index: 1000;
    position: relative;
    top: -3.5rem;
}
.quad_bottom_left {
    background-color: orange;
    color: white;
}
.quad_bottom_right {
    background-color: rgb(103, 96, 88);
    color: white;
}
.msg {
    background-color: rgb(245, 245, 245);
    margin: 1rem;
    padding: 1rem;
}

.footer {
    background-color: rgb(34, 34, 34);
    color: white;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.logotipo {
    height: 0.01rem;
    z-index: 1000;
    position: relative;
    top: -2rem;
}

