.banner {
    background-color: #A3A3A3;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.banner h1 {
  line-height: .9;
}
.banner h5 {
  margin-top: 1rem;
  font-weight: 500;
  letter-spacing: .4rem;
}

.content-top, .content-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.quad_top_left, .quad_top_right, .quad_bottom_left, .quad_bottom_right {
    padding-top: 1rem;
    padding-bottom: 1rem;
  font-size: 4rem;
}
.quad_top_left {
    background-color: #293648;
    color: white;
}
.quad_top_right {
    background-color: #A1C0CE;
    color: white;
}
.special {
    height: 0.01rem;
}
.quad_extra {
    z-index: 1000;
    position: relative;
    top: -3.5rem;
}
.quad_bottom_left {
    background-color: #E9B074;
    color: white;
}
.quad_bottom_right {
    background-color: #797373;
    color: white;
}
.msg {
    background-color: #E3E3E3;
    margin: 1rem;
    padding: 1rem;
}

.footer {
    background-color: #222;
    color: white;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.logotipo {
    height: 0.01rem;
    z-index: 1000;
    position: relative;
    top: -2rem;
}

