/*#service {
  padding-bottom: 5rem;
}

#service .nav-link span {
  padding: .5rem;
  border-color: #d62814!important;
}

#banner,
#tiers,
#roadmap,
#contacts{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#banner{
  background-color: #eee;
}*/
